image boot.ext4 {
	ext4 {}

	mountpoint = boot_part/
	size = 32M
}

image sdcard.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition fsbl1 {
		image = "%ATFBIN%"
	}

	partition fsbl2 {
		image = "%ATFBIN%"
	}

	partition ssbl {
		image = "u-boot.stm32"
		size = 2M
	}

	partition boot {
		bootable = "true"
		image = "boot.ext4"
	}
}
